<div class="navbar">
    <div class="container">
        <div class="navbar-container">
            <h2>Messenger</h2>
            <nav>
                <ul class="navbar-ul">
                    <li class="navbar-li" id="username"><%= username %></li>
                    <a href="/logout"><li class="navbar-li">Logout</li></a>
                </ul>
            </nav>
        </div>
    </div>
</div>