<div class="navbar">
    <div class="container">
        <div class="navbar-container">
            <h2>Messenger</h2>
            <nav>
                <ul class="navbar-ul">
                    <li class="navbar-li">Home</li>
                </ul>
            </nav>
        </div>
    </div>
</div>